# Introduction to the Python programming language

Thomas Thivillon

2025-09-22 

_Note_: This notebook is adapted from Gallic (2019), James et al. (2023) and Galiana (2025).

# 1. Introduction

This chapter provides an introduction to `Python` programming in the `JupyterLab` interactive development environment (IDE). This notebook was prepared for `Python` version 3.x.

<div class="callout callout-tip">
  <div class="callout-header">
    <div class="callout-icon"></div>
    Contents covered in this chapter:
  </div>
  <div class="callout-body">
    <ul>
      <li>Types of data in Python</li>
      <li>Structures</li>
      <li>Operators and conditions</li>
      <li>Loops and functions</li>
    </ul>
  </div>
</div>


## 1.1 JupyterLab and Jupyter Notebook

`Jupyter Notebook` is a web-based application for creating and sharing computational documents that contain code and text (as well as equations and graphs). It can be used with R, Julia, and other languages in addition to Python. 

`JupyterLab` is an interactive development environment designed as a multi-document interface. It allows users to work with several notebooks and with an integrated terminal in the same interface. In this course we will work with `JupyterLab` because it is supported by `SSP Cloud.

### 1.1.1 Notebooks

You are currently in a notebook that I have created. You can open a new `cell` by typing `alt` + `Enter`. Try it out now: click on the current cell and type `alt` + `Enter`.

Once the cell is created you can type `ctrl` + `enter` to execute it. Try it out now. Then type `D` twice to delete the cell.

### 1.1.2 Evaluation of an instruction

Now let's open a new cell again below the current one and write the following instruction:

`2 + 1`

Once again to submit/execute the instruction, the fastest way is the keyboard shortcut: `ctrl` + `Enter`. Try it now.

### 1.1.3 Using Markdown cells to comment your code

When you first create a new cell, it is defined as a code cell. You can switch to a `Markdown` cell by typing `esc` and then `M` on your keyboard when you are in the cell. To switch back to code mode type `esc` &rarr; `Y`.

`Markdown` is a simple programming language for creating formatted text using a plain-text editor. All the text cells in this notebook contain Markdown code. Visit the [Markdown Guide](https://www.markdownguide.org/) for a detailed presentation of the `Markdown` syntax.

As a quick Markdown exercise, create a new cell below this one using the keyboard shortcut you have learned before and switch to `Markdown` mode. Type a short sentence in the cell and put the last word of the sentence between two double stars (**). What do you notice?

## 1.2 Variables

### 1.2.1 Using variables

When we want Python to store a result in memory, we need to assign it to a *variable*. To create a variable, we use the equality sign (=) and assign the result (or any object) to the variable name using the following syntax: `variable_name = object`.

We can display the content of a variable using the function `print()`:

`print(variable_name)`

Or simply by typing the variable name:

In [ ]:
x = 7
print(x)
x

Change the value of the variable with a new assignment:

In [ ]:
x = 8
x

In [ ]:
x = "Madagascar"
x

It is possible to create copies of a variable. The original variable will not be affected when changes are made to the copy:

In [ ]:
y = x
y

In [ ]:
y = "Antananarivo"
print(y)
print(x)

A variable can be deleted with the instruction `del`:

In [ ]:
del y 
y

Variables can be incremented with the special operators `+=` and `*=` :

In [ ]:
x = 0
x += 1
print(x)
x += 1
print(x)

In [ ]:
y = 1
y *= 3
print(y)
y *= 3
print(y)

### 1.2.2 Variable naming conventions

As in most data science and statistics softwares: 

- Names of variables can only be composed of alphanumeric characters and the underscore (_).
- Variable names cannot start with a numeric character.
- It is prohibited to include spaces in variable names.

In addition, to increase readability, it is recommended to only use lower case letters and to separate words by an underscore in variable names (i.e: use  `variable_name` and not `variablename` or `Variable_Name`).


## 1.3 Modules and packages

Most of the functions that you will use in `Python` are not available by default and you will need to load a `module` to use them. Modules are usually available within `packages`. The following three packages are usually the starting point for most data science work: 

- [NumPy](https://numpy.org/): for scientific computing.
- [pandas](https://pandas.pydata.org/): for data analysis and manipulation.
- [Matplotlib](https://matplotlib.org/): to create graphics.

Use the function `import` to load a `package`. Ex:

In [ ]:
import pandas

Because different functions included in separate modules or packages can share the same name, it is good practice to give an `alias` to the packages that you load:

In [ ]:
import numpy as np
import statistics as st

data = [1, 2, 3, 4, 5]

# mean de numpy
print(np.mean(data))

# mean de statistics
print(st.mean(data))

You can also import a single function from a package as in this example:

In [ ]:
import matplotlib.pyplot as plt

x = np.arange(0, 10, 0.5)
y = np.exp(x)
plt.plot(x,y)

## 1.4 Help and documentation

Type:
- `?` to get an overview of `Python`'s main features.
- `help()` to access the `Python` help system.
- `object?` to get details about `object`.
- `object??` to get more details about `object`.


# 2. Types of data

The main types of data that you will encounter in Python include:

- numerical values.
- strings.
- booleans.
- empty objects.


## 2.1 Numerical values

The two types of numerical objects that we will use in this course are: 

- integers (`int`).
- floating point numbers (`float`).

Use the `type()` function to print the type of a `Python` object:

In [ ]:
x = 2
y = 3.25

print(type(x))
print(type(y))

You can use the `float` and `int` functions to convert objects from one type to the other (caution: `int` conversion truncates decimals):

In [ ]:
print(float(x))
print(int(y))

**Arithmetic operations:**

In [ ]:
#Addition
1 + 1

In [ ]:
#Subtraction
1-1

In [ ]:
#Multiplication
2 * 2

In [ ]:
#Division
4 / 2

In [ ]:
#Power
2 ** 2

In [ ]:
#Square root
4 ** 0.5

## 2.2 Strings

A string is a collection of [Unicode](https://en.wikipedia.org/wiki/Unicode) characters such as letters, numbers, punctuation marks, etc.

Strings are defined with single or double quotation marks:

In [ ]:
x = "Madagascar"
print(x)
print(type(x))

In [ ]:
#This also works:
y = 'it works'

#This doesn't work:
z = 'I'm a genius'

print(y)
print(z)

Use the `len` function to count the number of characters in a string:

In [ ]:
len(x)

Strings can be concatenated...

In [ ]:
"This is" + " " + "fun"

... and repeated:

In [ ]:
"fun " * 3 + "... !"

Each character in a string has an index corresponding to its order in the string sequence. We can use the index to extract specific characters from a string. **Important: indexing starts at 0 in Python**

In [ ]:
#Extract 1st element of the sequence
"This is still fun !"[0]

In [ ]:
#Extract 2nd element of the sequence
"This is still fun !"[1]

In [ ]:
#Extract last element of the sequence
"This is still fun !"[-1]

In [ ]:
#Extract everything from a certain character
"This is still fun !"[8:]

In [ ]:
#Extract everything up to a certain character
"This is still fun !"[:7]

In [ ]:
#Extract a substring
"This is still fun !"[14:17]

In [ ]:
#Extract every other element of the sequence
"This is still fun !"[0::2]

In [ ]:
#Extract every three element of the sequence starting from the second and finishing at the 17th
"This is still fun !"[1:17:2]

In [ ]:
#Reverse a sequence
"This is still fun !"[::-1]

The general syntax is `x[a:b:c]` where `a` is the position of the starting character, `b` the position of the ending character, and `c` the indexing step (remember: **indexing starts at 0**).

## 2.3 Booleans

`Booleans` are logical data which take either the value `True` or `False`. Caution: case is important for the data to be recognized as boolean.

In [ ]:
x = True
y = False
print(x, y)

`Python` will automatically convert `boolean` data to 1 (for `True`) and 0 (for `False`):

In [ ]:
boo = True + False + True + False + True
print(boo)

## 2.4 Empty objects

Empty objects take the value `None` and have the class `NoneType`:

In [ ]:
x = None
print(type(x))

One can test if an object is empty with the following approach:

In [ ]:
print(x is None)

## 2.5 Exercises

### Displaying basic types

Display the type of x when:

-   x = 3
-   x = “test”
-   x = 3.5

In [ ]:
x = 3
print("The type of x is", type(x))

x = "test"
print("The type of x is", type(x))

x = 3.5
print("The type of x is", type(x))

### String lengths

Calculate the sum of the lengths of the following three strings:

-   “a first string”
-   “and a second”
-   “never two without three”

In [ ]:
sumlen = len("a first string") + len("and a second") + len("never without three")
print("The sum of the lengths of the three strings is:", sumlen, ".")

### Counting letters

Count the number of times the letter e appears in the following string:
“I am counting the e’s.”

**Hint**: you can use the built-in method
[count](https://docs.python.org/3/library/stdtypes.html#str.count).

In [ ]:
mystring = "I am counting the e’s."
mystring.count("e")

### Detecting letters

Find the first position where the letter e appears in the following
string: “I am counting the e’s.”

**Hint**: you can use the built-in method
[find](https://docs.python.org/3/library/stdtypes.html#str.find).

In [ ]:
mystring.find("e")

### Removing spaces in a string

Remove the extra spaces at the beginning and end of the following
string:

**Hint**: you can use the built-in method
[strip](https://docs.python.org/3/library/stdtypes.html#str.strip).

In [ ]:
# Type your answer in this cell
a = "    A poorly formatted string.         "

In [ ]:
mystring = a.strip()
print(mystring)
print(mystring.strip('A'))

### Escaping characters

The `\` character allows escaping (neutralizing) a special character
within a string. Find how this character solves the problem of using
quotes (or apostrophes) within a string defined by quotes (apostrophes).

**Hint**: examples of usage are available in the [official
documentation](https://docs.python.org/3/reference/lexical_analysis.html#literals).

In [ ]:
'I\'m such a genius'

### A first algorithm

Perform the following sequence of operations using increment operators,
and print the final value:

-   initialize a variable to 1
-   subtract 5 from it
-   multiply it by 4
-   add 22 to it

In [ ]:
a = 1
a -= 5
a *= 4
a += 22
a

# 3. Structures 

The main types of structures in `Python` are:

- lists,
- tuples,
- sets,
- and dictionaries.

Data structures can be seen as containers because they allow you to store, organize, and access data. 

Lists and tuples are **sequential containers**: the elements they contain are **ordered**, and their position is recorded in an **index**.

Dictionaries and sets are **unordered data structures**: objects are no longer stored by position (or index) but by **key**, which is a unique identifier.

## 3.1 Lists

`Lists` are one of the most flexible structures in Python. A `list` is a grouping of values.
The creation of a list is done by writing the values by separating them with a comma
and surrounding them by square brackets ([ and ]). You can store both numerical values and strings in lists.

Ask python to join together the numbers 3, 4, and 5, and to save them as a list named `x`. Then, display the content of `x`:

In [ ]:
x = [3, 4, 5]
x

Copying a list: Be **careful**, copying a list in Python is achieved by using the `list()` function not by using the equal sign:

In [ ]:
y=x
y[0] = 0
print(y)
print(x)

In [ ]:
x = [3, 4, 5]
y = list(x)
y[0] = 0
print("x : ", x)
print("y : ", y)

## 3.2 Tuples

`Tuples` are sequences of Python objects. To create a tuple, one lists the values, separated by commas. Unlike lists, **tuples are inalterable** (i.e. cannot be modified after they have been created).

In [ ]:
x = 1, 4, 9, 16, 25
print(x)

In [ ]:
x[0] = 1

## 3.3 Sets

`Sets` are unordered collections of unique elements. Sets are unalterable. Unlike tuples, sets are not
indexed:

In [ ]:
new_set = {"Bordeaux", "Aix-en-Provence", "Nice", "Rennes"}
print(new_set)

Sets are not very often used in practice, but they are quite useful in
certain specific situations. Due to the uniqueness of the elements they
contain, sets allow you to simply and effectively remove duplicates from
a sequential container, such as a list.

**Deduplication**

Suppose you want to remove duplicates from a given list. By definition,
converting a list to a set removes duplicates. However, you generally
want to return to a list, as sets do not offer the same flexibility as
lists (for example, the ability to find an element by position). It is
therefore common to perform the `list -> set -> list` chain of
operations to deduplicate a list.

In [ ]:
l = [1, 2, 3, 3, 2, 1]
l_dedup = list(set(l))
l_dedup

**Set Operations**

Since sets programmatically represent mathematical sets, it is not
surprising that they allow for elementary set operations. For example,
union and intersection.

In [ ]:
l1 = [5, 3, 2, 3, 3, 5, 8, 9]
l2 = [3, 7, 0, 0, 1, 9, 4, 6]

# Union: elements in l1, l2, or both
l_union = list(set(l1) | set(l2))
print(l_union)

# Intersection: elements in both l1 and l2
l_inter = list(set(l1) & set(l2))
print(l_inter)

**Membership Tests**

Sets are also very useful for membership tests, as they offer much
better performance than lists for this type of test.

The concept of testing will be covered in a future tutorial. For now,
let’s note that a membership test such as “is element `a` in list `l`”
is written in Python as `a in l` and returns `True` or `False` depending
on whether `a` is actually present in list `l`.

In [ ]:
l = [1, 2, 3]
2 in l

In [ ]:
4 in l

## 3.4 Dictionaries

Python `dictionaries` are an implementation of `key-value objects`, the keys being
indexed. Keys are often text, values can be of different types and structures. To create a dictionary, you can proceed by using braces ({}):

In [ ]:
my_dict = { "nom": "Kyrie",
"prenom": "John",
"naissance": 1992,
"equipes": ["Cleveland", "Boston"]}
print(my_dict)

In [ ]:
print(my_dict["equipes"])

In [ ]:
my_dict["equipes"] = ["Montclair Kimberley Academy",
"Cleveland Cavaliers", "Boston Celtics"]
print(my_dict)

The `.keys()`, `.values()`, and `.items()` methods return the keys,
values, and key-value pairs of a dictionary, respectively. The objects
returned by these methods are a bit complex, but they can be converted
to lists using the `list` function to query them by position:

In [ ]:
list(my_dict.keys())

In [ ]:
list(my_dict.values())

In [ ]:
list(my_dict.items())

## 3.5 Exercises

### Doing Scales

By adding, deleting, and modifying elements, clean up the following list
so that it contains the musical notes “do re mi fa sol la si” in the
correct order.

`l = ["do", "re", "re", "re", "fa", "sol", "solsi", "la"]`

Hint: use the list's `index`, the `del` function and the [append](https://mimo.org/glossary/python/append()) function.

In [ ]:
l = ["do", "re", "re", "re", "fa", "sol", "solsi", "la"]
l[2] = "mi"
del(l[3::3]) #Using the slicer method
l.append("si")
print(l)

### Min and Max of Different Lists

Verify the behavior of the `min` and `max` functions:

-   on a list composed solely of numeric objects (`int` and `float`);
-   on a list composed solely of strings;
-   on a list composed of a mix of numeric and textual objects.

In [ ]:
numl = [5, 2, 21, 6.5, 65]
print(min(numl))
print(max(numl))

strl = ["Bob", "Lea", "Zorah", "Jo", "Barry"]
print(min(strl))
print(max(strl))

mixl = [1, "mix", "of", 2]
print(min(mixl))
print(max(mixl))

### Empty List

Try creating an empty list. Verify its type. What could be the use of
such an object?

In [ ]:
l = []
print(l)
print(type(l))

for i in range(11):
    x = i**2
    l.append(x)

print(l)

### The `list` and `tuple` functions

The `list` and `tuple` functions allow
converting from one type to the other: the code `list(my_object)` returns the
“list version” of that object.

- Create the tuple `a = (1, 2, 3)` and convert it to a list using the `list` function.

- Then, create the string `b = "hello"` and convert it to a list using the `list` function.

In [ ]:
a = (1, 2, 3) 
a = list(a)
print(a)

b = "hello"
b = list(b)
print(b)

### Querying a Dictionary

Given the dictionary defined in the cell below.

Display using `print` operations:

-   the list of class names
-   Miranda’s history grade
-   the list of grades obtained by Hypolyte
-   the list of student names in 6emeB
-   the list of subjects taught in 6emeA
-   the list of all subjects taught
-   the list of grades obtained by girls in both classes

In [ ]:
results = {
    "6emeA": {"Miranda" : {"grades": {"physics": 16, "history": 12}},
              "Celestin": {"grades": {"physics": "absent", "history": 18}}
             },
    "6emeB": {"Hypolyte": {"grades": {"math": 11, "english": 0}},
              "Josephine": {"grades": {"math": 16, "english": 20}}
             }
}

In [ ]:
print(list(results.keys()))
print(results["6emeA"]["Miranda"]["grades"]["history"])
print(list(results["6emeB"]["Hypolyte"]["grades"].values()))
print(list(results["6emeB"].keys()))
print(list(results["6emeA"]["Miranda"]["grades"].keys()))
print(list(results["6emeA"]["Miranda"]["grades"].keys()) + list(results["6emeB"]["Hypolyte"]["grades"].keys()))
print(list(results["6emeA"]["Miranda"]["grades"].values()) + list(results["6emeB"]["Josephine"]["grades"].values()))

### Deduplication

Given the following string with repetitions:

`x = "cdabcdabcdabcdabcdabcdabcdabcdabcdab"`

Construct a list of unique characters in this string, sorted
alphabetically, i.e.:

`l = ['a', 'b', 'c', 'd']`

Hint: the procedure is similar to removing duplicates from a list.

In [ ]:
x = "cdabcdabcdabcdabcdabcdabcdabcdabcdab"
x = sorted(list(set(x)))
print(x)

### Intersections and Unions of Strings

Given the following two strings:

`cyrano1 = 'C’est un roc ! … c’est un pic ! … c’est un cap !'`

`cyrano2 = 'Que dis-je, c’est un cap ? … C’est une péninsule !'`

Question 1: find the characters that appear in both strings.

Question 2: find the characters that appear in at least one of the two
texts.

In [ ]:
cyrano1 = "C’est un roc ! … c’est un pic ! … c’est un cap !"
cyrano2 = "Que dis-je, c’est un cap ? … C’est une péninsule !"

i_cyrano = list(set(cyrano1) & set(cyrano2))
print(i_cyrano)

u_cyrano = list(set(cyrano1) | set(cyrano2))
print(u_cyrano)

# 4. Conditions

Now, we will delve into the details of how conditions work in Python.
They are a major step in creating programs that automate operations
since they allow you to **execute or not execute code based on certain
conditions**. They enable the computer to make decisions based on
criteria set by the user.

## 4.1 The boolean type

In its simplest form, a `test` in Python is an expression that evaluates
to a `boolean` value (see above).

## 4.2 Comparison operators

Comparison operators formalize mathematical comparison operations
(equality, inequality, inequalities). They **compare two values and
return a boolean value**.

Operator \| Meaning \|  
`|` \|  
== \| Equal to \|  
!= \| Not equal to \|  
\< \| Less than \|  
\> \| Greater than \|  
\<= \| Less than or equal to \|  
\>= \| Greater than or equal to \|

Let’s illustrate these operators with a few examples.

In [ ]:
1 == 1

In [ ]:
1 == 2

In [ ]:
1 != 2

Everything seems to work correctly for usual mathematical operations.
But these operators actually work on any type of object.

In [ ]:
'do re mi fa sol' == 'do re mi fa sol'

In [ ]:
'do re mi fa sol' == 'Do Re Mi Fa Sol'

In [ ]:
[1, 2, 3] == [1, 2, 3]

Finally, it is possible to chain comparisons. The expression returns
`True` provided that each of the comparisons is true.

In [ ]:
1 < 2 <= 3

In [ ]:
4 < 5 <= 3

## 4.3 Boolean operators

Boolean operators allow **simultaneous testing of multiple logical
expressions**. Fundamentally, these operators take two boolean values as
input and return a single boolean value according to fixed logic rules.
These rules are stated in **truth tables**.

### `and` operator

The first boolean operator is `and`. Let’s look at its truth table:

| Expression  | Evaluation |
|-------------|------------|
|`True and True` | `True`|
| `True and False` |  `False` |
| `False and True` |  `False` |
| `False and False` |  `False`  |

Let’s verify these rules in practice with a few examples.

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
(2 > 1) and (3 <= 4)

In [ ]:
a = ("x" != "z")
b = ("x" == "y")
a and b

Note the use of parentheses to delimit the tests: they are not mandatory
but are strongly recommended as they greatly improve the readability of
tests.

### `or` operator

The second boolean operator is `or`. Its truth table is as follows:


| Expression  | Evaluation |
|-------------|------------|
|`True or True` | `True`|
| `True or False` |  `True` |
| `False or True` |  `True` |
| `False or False` |  `False`|

In [ ]:
a = ("x" != "z")
b = ("x" == "y")
a or b

### `not` operator

The last boolean operator is `not`. Its truth table is as follows:

| Expression  | Evaluation |
|-------------|------------|
| `not True`  | `False`    |
| `not False` | `True`     |

In [ ]:
not (3 + 3 == 6)

In [ ]:
not (1 < 1)

## 4.4 Conditional structures

All the expressions we have seen so far are boolean expressions: a test
is performed, and the operation returns `True` or `False` depending on
whether the evaluated expression is true or not. In the context of a
computer program that automates operations, we want to use them as
**conditions**: *if* the expression is true, then the computer must
perform a certain operation. **Conditional structures** allow precisely
this usage.

Let’s illustrate this principle by implementing the following program:

-   Define a variable `x`.

-   If `x` is greater than `a value of your choice`, then print “The expression is true.”

-   Otherwise, print “The expression is false.”

Vary the value of `x` to verify the correct operation of the test.

In [ ]:
x = 12

if x >= 12:
    print("The expression is true.")
else:
    print("The expression is false.")

### Instruction blocks and indentation

The previous example illustrates the syntax of conditional structures in
Python. These structures are based on *instruction blocks*, which
delimit the set of instructions to be executed when a test is true.
Conditional structures have three rules:

-   The line specifying the test ends with `:`.

-   All instructions that must be executed if the test is true are at
    the same level of indentation.

-   The conditional structure ends when the indentation returns to its
    original level.

Note that conditional structures can indeed be nested, as illustrated in
the following example.

In [ ]:
x = 7

if x >= 5:
    print("The first expression is true.")
    if x >= 6:
        print("The second expression is true.")

### `if`, `else`, and `elif` statements

In conditional structures, tests can be specified using three
statements: `if`, `else`, and `elif`. The previous examples have already
illustrated the operation of the first (and most frequent)
statement.

In practice, we often want to specify an alternative when the condition
of the `if` statement returns `False`. The `else` statement allows
specifying an alternative instruction block.

In [ ]:
city = "Antananarivo"

if city in ["Antananarivo", "Fianarantsoa", "Tulear"]:
    print("Known city.")
else:
    print("Unknown city.")

Finally, we may want to specify multiple alternatives. In this case, we
will use `elif` statements. The first `elif` statement will only execute
if the test of the `if` statement returns `False`. The second `elif`
statement will only execute if the test of the first `elif` statement
returns `False`, and so on. Again, a final `else` statement can be
specified, which only executes if none of the previous tests returned
`True`.

In [ ]:
city = "Antananarivo"

if city == "Tulear":
    print("I'm going to Tulear.")
elif city == "Fianarantsoa":
    print("I'm going to Fianarantsoa.")
elif city == "Antananarivo":
    print("I'm going to Antananarivo.")
else:
    print("I don't know where I am going.")

## 4.5 Exercises

### Three and no more

Write a program that performs the following operations:

-   Define a list that contains 4 names.

-   Write a test that prints the message (‘Too many people.’) if the
    list contains more than three people.

-   Remove a person from the list (using the `del` function or the `pop`
    method seen in a previous tutorial).

-   Perform the test again, there should be no output.

In [ ]:
#Type your answer here

The input function allows the programmer to ask users to enter a value in a Python program. The syntax is as follows: x = input(). When this command is executed, the user must enter a value, which is then assigned to the variable x.

Using input and the if, elif, and else statements, code the following program:

    Ask the user for a value, which will be stored in a variable p.

    If p is strictly less than $15, print the message “too low!”.

    If p is strictly greater than $15, print the message “too high!”.

    If p is equal to $15, print the message “right on!”.

Note, input returns a string by default. Therefore, you need to convert the value of p to an integer (using the `int` function) for the game to work.

In [ ]:
#Type your answer here

# 5. Loops

Loops will allow us to repeat an instruction several times without
having to rewrite the same code each time.

To illustrate this idea, let’s imagine we want to display each element
of a list. For now, we would do:

In [ ]:
gamme = ['do', 're', 'mi', 'fa', 'sol', 'la', 'si']

print(gamme[0])
print(gamme[1])
print(gamme[2])

## for loops

### Definition

The first type of loop we will look at is the `for` loop. A `for` loop
allows you to traverse the different elements contained in an object
called an **iterable**, and perform operations with these elements.
Iterable objects include all the sequential objects we have seen so far:
strings, lists, tuples, etc.

Let’s illustrate how a `for` loop works by solving the problem presented
earlier:

In [ ]:
for note in gamme:
    print(note)

### Syntax

Let’s analyze the structure of a `for` loop:

-   The first line specifies a **`for` statement**, and like any
    statement in Python ends with `:`.

-   This is followed by a **block of instructions**, i.e., a series of
    operations (just one in our example) that will be executed at each
    iteration of the loop. This block is visible by its **level of
    indentation**, incremented by 1 compared to the statement. The block
    ends as soon as the indentation returns to its initial level.

As with conditional statements like `if`/`else`, indentation is crucial.
If you forget it, Python returns an error.

In [ ]:
for note in gamme:
print(note)

### Operation

Now let’s look in more detail at what the `for` statement does. It
defines an **iteration variable** (called `note` in our example), which
will traverse the elements of the **iterator** specified after the `in`
(the list `gamme` in our example). The syntax of a loop in Python lends
itself well to a literal description; in our case: “for each note in the
list gamme, print the note.”

Note that a loop defines a variable without needing the traditional
`variable = value` assignment syntax. Furthermore, this variable is not
deleted once the loop is finished; it then takes the value of the last
element of the iterator.

In [ ]:
note

The iterator does not necessarily have to be a list; it can be any
iterable object. This includes all the sequential objects we have seen.

In [ ]:
for char in "YMCA":
    print(char)

print()  # Line break

t = (1, 2, 3, 4, 5)
for i in t:
    print(i*9)

However, the class of iterable objects is much larger than just
sequential objects. For example, you can iterate over the keys of a
dictionary, even though we saw in a previous tutorial that it is not a
sequential object, since there is no notion of order in a dictionary.

In [ ]:
inventaire = {'coffee': '500g', 'milk': '1.5L', 'cereal': '1kg'}
for key in inventaire:
    print(key)
    print(inventaire[key])
    print()  # Line break

### Iteration over integers with the `range` function

In programming, it is common to want to iterate over a series of
integers. Instead of specifying this series in a list, which is not very
practical if the series is long, we use the `range(n)` function. This
creates an iterable object that contains all the integers between 0 and
n-1, and can be used within a loop.

For example, let’s see how we can very simply display a multiplication
table using this function.

In [ ]:
table = 9

for i in range(11):
    print(i, i*9)

### Iteration over indices 

We have seen that a `for` loop works by iterating over the *elements* of
an iterable. However, in the case of a sequential object like a list, we
may sometimes want to iterate over the *indices* of the object to
manipulate both the indices and the elements contained in the object. In
this case, the `enumerate` function can be used:

In [ ]:
gamme = ['do', 're', 'mi', 'fa', 'sol', 'la', 'si']

for i, note in enumerate(gamme):
    print("The note number " + str(i) + " in the C major scale is " + note)

## while loops

### Definition
`while` loops provide an alternative way to specify repetitive
procedures. The idea is no longer to iterate over a fixed number of
objects, but to **iterate as long as a condition (logical test) is
met**.

In [ ]:
i = 1
while i <= 5:
    print(i)
    i = i + 1

### Stopping criterion

An essential difference between while loops and for loops lies in the stopping criterion. In a for loop, this criterion is clear: the loop iterates over the elements of an iterable object, necessarily of finite size. The loop stops when each element of the iterable has been traversed.

In a while loop, on the other hand, the stopping criterion is given by a logical condition, so the user must set the stopping criterion. In the example, for the loop to stop, the condition i <= 5 must become False, meaning i must become strictly greater than 5. We ensured this by initializing i to 1 before the loop starts, and then incrementing i by one unit at each iteration.

What happens if we forget to increment i? The stopping criterion is never reached, so the loop is infinite, and we must use the “Stop” button (black square) in Jupyter to stop the running program. Let’s verify this by incrementing the wrong variable.

In [ ]:
i = 1
j = 1
while i <= 5:
    j = j + 1

Therefore, when we suspect that a `while` loop is taking too long to
run, we must consider the possibility that we have fallen into an
infinite loop, and ensure that the stopping criterion is reachable.

### The `break` statement

An alternative way to specify a stopping criterion is to use the `break`
statement. When this statement is reached and executed, the loop is
immediately interrupted.

Let’s illustrate its operation with an example. The first line creates
an infinite loop because, by definition, `True` is always evaluated as
`True`. The program then asks the user to type a name, and does so
indefinitely until the user types the expected name. Only then is the
`break` statement reached, and the loop stops. The message “Welcome
<your_name>” is finally displayed, as the second `print` is not included
in the loop.

In [ ]:
your_name = "Thomas"

while True:
    print("Please enter your name.")
    name = input()
    if name == your_name:
        break
print("Welcome " + your_name)

### The `continue` statement

The `continue` statement allows you to skip to the next iteration of the
loop.

Let’s enhance the previous example to illustrate its operation. As long
as a different name than the expected one is entered, the `continue`
statement is evaluated, and the program continues to ask for a name.
When the correct name is entered, the program asks the user to enter a
password. If the password is the expected one, the `break` statement is
reached and executed, and the loop stops. If the password is incorrect,
however, the loop restarts at the beginning of the execution block, so
you need to enter a name again before the password.

In [ ]:
your_name = ""

while True:
    print("Please enter your name.")
    name = input()
    if name != your_name:
        continue
    print("Please enter your password.")
    password = input()
    if password == "BSE2025":
        break
print("Welcome " + your_name)

NB: The code above is only for example purposes. As we will see in a
future tutorial on best coding practices, you should **never write
secrets (passwords, tokens, etc.) in plain text in your code.**

## Exercises

### Converting a `for` loop to a `while` loop

Rewrite the following `for` loop using a `while` loop.

In [ ]:
gamme = ['do', 're', 'mi', 'fa', 'sol', 'la', 'si']

for i, note in enumerate(gamme):
    print("The note number " + str(i) + " in the C major scale is " + note)

### Finding an element in a list

Given a target integer `target_num` and a list of integers `l` as
defined in the following cell. Using a `for` loop and the `enumerate`
function:

-   Check if the target integer is present in the list `l`.

-   If yes, display the message ‘The number `target_num` is at position
    `i` in the list’, and end the loop.

In [ ]:
target_num = 78

l = [12, 98, 65, 39, 78, 55, 119, 27, 33]

# 6. Functions

Using functions is a **best practice** in programming, as they
make the logical structure of the code more explicit and help reduce
code duplication.

## Definition

A **function** can be defined as a structured block of code that:

-   takes a set of **arguments** (Python objects) as input
-   performs a **specific action** through a set of instructions
-   **returns** a result (a Python object) as output

We have already seen and used several functions in previous tutorials
(`range`, `len`, etc.). We have also used **methods**, which are simply
functions *attached* to a particular type of object. Let’s use a
well-known function to illustrate their general operation.

## Syntax

The `def` statement is used to define a function:

In [ ]:
def welcome(name):
    msg = "Greetings " + name + "!"
    return msg

In [ ]:
welcome("")

## Passing Arguments

When you call a function and specify arguments, you are “passing”
arguments to it. These arguments then become variables that can be used
within the context of the function. Unlike a `for` loop, the variables
created do not persist after the function call.

In [ ]:
def addition(x, y):
    return x + y

In [ ]:
addition(5, 3)

In [ ]:
x  # The variable does not persist in memory after the function call

### Passing by Position and Passing by Keyword

In Python, functions allow two modes of passing arguments:

-   **passing by position**, which is the mode we have seen in all
    previous examples: arguments are passed to the function in the order
    they were defined, without specifying the parameter name.

-   **passing by keyword**: you specify the parameter name when passing
    the argument, which allows you not to follow the order specified
    during the definition.

Let’s illustrate this difference with a function that simply performs a
division.

In [ ]:
def division(x, y):
    return x / y

In [ ]:
division(4, 2)  # Passing by position

In [ ]:
division(x=4, y=2)  # Passing by keyword

### Mandatory and Optional Arguments

When defining a function, it is common to want to mix arguments that the
user must specify and optional arguments that specify a default behavior
of the function but can be changed if needed.

-   generally, **mandatory arguments** are **passed by position**. They
    can also be passed by keyword, but since they are “expected,” they
    are usually passed by position for conciseness

-   **optional arguments** must be **passed by keyword**, to clearly
    indicate that the default behavior of the function is being modified

How do you specify that an argument is optional when defining a
function? Simply by specifying a default value for the argument. For
example, let’s build a function that concatenates two strings and allows
the user to specify a separator.

In [ ]:
def concat_string(str1, str2, sep=' '):
    return str1 + sep + str2

In [ ]:
concat_string('hello', 'world')  # Default behavior

In [ ]:
concat_string('hello', 'world', sep=', ')  # Modified behavior

This example also illustrates the rule when mixing positional and
keyword arguments: **positional arguments must always be placed before
keyword arguments**.

## Returning Results

### Principle

We have seen that every function returns a result as output and that the
`return` statement specifies this result. When the function is called,
it is evaluated to the value specified by `return`, and this value can
then be stored in a variable and used in subsequent calculations, and so
on.

Important note: **when a `return` statement is reached in a function,
the rest of the function is not executed**.

## Exercises

### Power function

Create a `power` function that takes two numbers `x` and `y` as input
and returns the power function $x^y$.

In [ ]:
#Type your answser here

### Recursive Functions: Factorial

Recursive functions are functions that call themselves within the body
of the function, causing infinite calls until a stopping criterion is
reached.

A good example of a recursive function is one that calculates the
factorial of an integer. The factorial of a natural number $n$ is the
product of all positive integers less than or equal to n. For example:
$5! = 5*4*3*2*1 = 120$.

Code this function and verify that it works correctly.

In [ ]:
#Type your answer here

### Variance in a Population and Variance in a Sample

We can manually code the calculation of the variance of a list of numbers using the formula:
$$\sigma^2 = {\frac {1}{n}}\sum_{i=1}^{n} (x_{i}-\bar{x})^2$$

Strictly speaking, this formula is valid when calculating **population
variance**. If we only observe a sample of the population, we do not
calculate the variance but estimate it, and we must then use the
following formula to obtain an **unbiased estimator of the true
variance**: $$s^2 = {\frac {1}{n-1}}\sum_{i=1}^{n} (x_{i}-\bar{x})^2$$.

To account for this distinction:

-   code a `mean` function that calculates the mean as in the previous
    tutorial exercise
-   code a `var` function that calculates the variance as in the
    previous tutorial exercise (calling the `mean` function to calculate
    the mean)
-   modify the `var` function to allow the user to choose the
    calculation method via an optional `mode` parameter (default value:
    ‘population’ for calculation using the population formula;
    alternative value: ‘sample’ for calculation using the sample
    formula)

Compare the values obtained in both cases with what the *black box*
function `var` from the `numpy` library returns (see the solution to the
previous tutorial exercise for the syntax, and see the
[doc](https://numpy.org/doc/stable/reference/generated/numpy.var.html)
of the function, especially the `ddof` parameter to vary the calculation
method).

In [ ]:
#Type your answer here

In [ ]:
from IPython.display import HTML, display

display(HTML("""
<style>
/* cible le HTML rendu par JupyterLab et force l'application */
.jp-RenderedHTMLCommon .callout.callout-tip {
  border-left: 6px solid #2ecc71 !important;
  background-color: #ecfdf5 !important;
  border-radius: 6px !important;
  padding: 0.8em 1em !important;
  margin: 1em 0 !important;
  font-family: sans-serif !important;
}

/* en-tête */
.jp-RenderedHTMLCommon .callout-header {
  display: flex !important;
  align-items: center !important;
  font-weight: 700 !important;
  color: #065f46 !important;
  margin-bottom: 0.5em !important;
}

/* icône (pseudo-élément) */
.jp-RenderedHTMLCommon .callout-icon::before {
  content: "💡" !important;
  margin-right: 0.5em !important;
  font-size: 1.2em !important;
}

/* corps : listes */
.jp-RenderedHTMLCommon .callout-body ul {
  margin: 0 0 0 1.25em !important;
  padding: 0 !important;
}
</style>
"""))